 <div class="ul-active-auction">
   <div class="ul-active-auction-img">
     <img src="assets/img/a-auction-1.png" alt="Image">
     <div class="icon">
       <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path
           d="M15.3344 11.3344L25.1784 21.2251C26.2758 22.3184 26.2758 24.0891 25.1784 25.1811C24.6513 25.7055 23.938 25.9998 23.1944 25.9998C22.4509 25.9998 21.7376 25.7055 21.2104 25.1811L11.3344 15.3344M15.3344 11.3344L10.0011 6.0011M15.3344 11.3344L16.0011 12.0011L19.0584 8.94377C19.3084 8.69373 19.4488 8.35465 19.4488 8.0011C19.4488 7.64755 19.3084 7.30847 19.0584 7.05843L14.2771 2.2771C14.0271 2.02714 13.688 1.88672 13.3344 1.88672C12.9809 1.88672 12.6418 2.02714 12.3918 2.2771L9.33443 5.33443L10.0011 6.0011M15.3344 11.3344L11.3344 15.3344M11.3344 15.3344L6.0011 10.0011M11.3344 15.3344L12.0011 16.0011L8.94377 19.0584C8.69373 19.3084 8.35465 19.4488 8.0011 19.4488C7.64755 19.4488 7.30847 19.3084 7.05843 19.0584L2.2771 14.2771C2.02714 14.0271 1.88672 13.688 1.88672 13.3344C1.88672 12.9809 2.02714 12.6418 2.2771 12.3918L5.33443 9.33443L6.0011 10.0011M6.0011 10.0011L10.0011 6.0011M2.0011 26.0011H11.3344"
           stroke="#893DF6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
       </svg>
     </div>
   </div>

   <div class="ul-active-auction-txt">
     <div class="ul-active-auction-top wow animate__fadeInUp">
       <div class="ul-auction-metas">
         <span class="ul-auction-meta">
           <span class="meta-key">Listing ID:</span>
           <span class="meta-value">1590443</span>
         </span>
         <span class="ul-auction-meta">
           <span class="meta-key">Item#:</span>
           <span class="meta-value">07661-019</span>
         </span>
       </div>

       <span class="ul-active-auction-tag">Winning Bids</span>
     </div>

     <div class="ul-active-auction-heading wow animate__fadeInUp">
       <h3 class="ul-active-auction-title"><a class='anim-txt' routerLink="/auctionDetail/0">Your Dream Car from
           Our Auctions!</a></h3>
       <p class="ul-active-auction-descr">32 789 Miles, Black, AWD, 04-Cylider </p>
     </div>

     <div class="ul-active-auction-bottom wow animate__fadeInUp">
       <div class="ul-active-auction-countdown-area">
         <h4 class="ul-active-auction-countdown-title">Auction Ending:</h4>

         <div class="ul-countdown">
           <div class="ul-countdown-item">
             <span class="number days">20</span>
             <span class="label">Days</span>
           </div>
           <div class="ul-countdown-item">
             <span class="number hours">18</span>
             <span class="label">Hours</span>
           </div>
           <div class="ul-countdown-item">
             <span class="number minutes">16</span>
             <span class="label">Minutes</span>
           </div>
           <div class="ul-countdown-item">
             <span class="number seconds">43</span>
             <span class="label">Seconds</span>
           </div>
         </div>
       </div>

       <div class="ul-active-auction-current-bid">
         <span class="title">Current Bid</span>
         <span class="bid">$7,750</span>
         <a class='ul-btn' routerLink="/auctionDetail/0">Place a bid <i class="fa-regular fa-arrow-up-right"></i></a>
       </div>
     </div>
   </div>
 </div>
