    <main>
      <!-- BREADCRUMB SECTION START -->
      <section class="ul-breadcrumb ul-section-spacing">
        <div class="ul-container">
          <div class="ul-breadcrumb-content">
            <div class="left">
              <h1 class="ul-breadcrumb-title anim-txt">Reset Password</h1>
              <div class="ul-breadcrumb-nav wow animate__fadeInUp">
                <a routerLink='/' class="text-white">Home</a>
                <span><i class="fa-solid fa-angles-right"></i></span>
                <span class="current">Reset Password </span>
              </div>
            </div>

            <div class="right">
              <button class="ul-btn-2 p-0 wow animate__fadeInUp">
                <span class="txt">Scroll Down</span>
                <i class="fa-light fa-arrow-down"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- vectors -->
        <div class="ul-breadcrumb-vectors">
          <img src="assets/img/breadcrumb-vector-1.svg" alt="vector" class="vector-1 wow animate__fadeInDown">
          <img src="assets/img/breadcrumb-vector-2.svg" alt="vector" class="vector-2 wow animate__fadeInUp">
          <img src="assets/img/breadcrumb-vector-3.svg" alt="vector" class="vector-3 wow animate__fadeInRight">
        </div>
      </section>
      <!-- BREADCRUMB SECTION END -->


      <!-- AUTH SECTION START -->
      <section class="ul-auth ul-section-spacing">
        <div class="ul-container">
          <div class="row justify-content-center justify-content-lg-between align-items-center gy-4">
            <!-- form -->
            <div class="col-xl-5 col-lg-6 col-md-8">
              <div class="ul-auth-form-wrapper wow animate__fadeInUp">
                <h2 class="ul-auth-form-title anim-txt">Reset Password</h2>
                <p class="ul-auth-form-descr">Let’s get started with your 30 days free trial</p>

                <form [formGroup]="form" (ngSubmit)="onSubmit()" [class.submitted]="submitted" class="ul-auth-form">
                  <div>
                    <div class="form-group ">
                      <div class="position-relative">
                        <input [type]="showPassword ? 'text' : 'password'" class="password-input" name="newPassword"
                          formControlName="newPassword" autocomplete="off" placeholder="Password" id="ul-auth-password">
                        <span (click)="togglePasswordVisibility()" style="cursor: pointer;" class="password-toggle">
                          <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </span>
                      </div>


                      <div class="error-feedback" *ngIf="hasDisplayableError('newPassword')">
                        <ng-container [ngSwitch]="form.controls.newPassword.errors | firstKey">
                          <div *ngSwitchCase="'required'">
                            Please enter your Password.
                          </div>
                          <div *ngSwitchCase="'minlength'">
                            Atleast 6 character required.
                          </div>
                          <div *ngSwitchCase="'pattern'">
                            One or more Special Character(s)
                          </div>
                        </ng-container>
                      </div>
                    </div>

                    <div class="form-group ">
                      <div class="position-relative">
                        <input [type]="showPassword1 ? 'text' : 'password'" name="confirmPassword"
                          class="password-input" formControlName="confirmPassword" placeholder="Confirm Password"
                          id="ul-auth-confirm-password">
                        <span (click)="toggleConfirmPasswordVisibility()" style="cursor: pointer;"
                          class="password-toggle">
                          <i class="fa" [ngClass]="showPassword1 ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </span>
                      </div>
                      <input type="hidden" name="userId" formControlName="userId">
                      <input type="hidden" name="token" formControlName="token">
                      <div class="error-feedback" *ngIf="hasDisplayableError('confirmPassword')">
                        <div *ngIf="form.controls.confirmPassword.hasError('passwordMismatch')">
                          Password Doesn't match.
                        </div>
                      </div>
                    </div>


                    <div class="ul-auth-form-actions">

                    </div>
                  </div>
                  <button type="submit" class="ul-auth-form-btn">
                    <span *ngIf="!loading">Reset Password</span>
                    <span *ngIf="loading">
                      <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                      Resetting Password...
                    </span>
                  </button>
                </form>

              </div>
            </div>

            <!-- img -->
            <div class="col-lg-6 col-md-8 d-xxs-none">
              <div class="ul-auth-img wow animate__fadeInUp">
                <div class="ul-auth-img-txt">
                  <p>Bids & Auctions Your Premier Destination</p>
                </div>
                <img src="assets/img/auth-img.jpg" alt="Image" class="main-img">
                <div class="ul-auth-img-stat ul-auth-img-txt">
                  <div class="ul-auth-img-stat-imgs">
                    <img src="assets/img/user-1.jpg" alt="user image">
                    <img src="assets/img/user-1.jpg" alt="user image">
                    <img src="assets/img/user-1.jpg" alt="user image">
                    <img src="assets/img/user-1.jpg" alt="user image">
                    <div><i class="fa-solid fa-star"></i><span class="txt">4.7</span></div>
                  </div>
                  <p class="ul-auth-img-stat-txt">Join over <span class="colored">25k+</span> Customer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- AUTH SECTION END -->
    </main>
