
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

form.submitted input.ng-invalid {
  border-color: red;
}

form.submitted input.ng-valid {
  border-color: green;
}

.error-feedback {
  font-size: 0.9rem;
  color: crimson;
  margin: 0.3rem !important;
  margin-top: 0.1rem !important;
}

  .ul-auth-form-actions {
      margin-top: clamp(8px, 0.63vw, 12px);
      margin-bottom: clamp(16px, 1.68vw, 32px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      font-size: 14px;
      font-weight: 400;
  }

  .ul-auth-form-actions a {
      text-decoration: underline;
  }
  a {
      text-decoration: none;
      display: inline-block;
      color: var(--black);
      font-weight: 500;
  }

  a:hover {
      color: var(--ul-primary);
  }
  a, button, img, svg path {
      transition: 0.4s ease;
  }

  .ul-auth-footer a {
      font-weight: 500;
      color: var(--ul-primary);
  }

  .ul-auth-footer a:hover {
      color: var(--ul-black);
  }
  a {
      text-decoration: none;
      display: inline-block;
      color: var(--black);
        font-weight: 500;
  }
  a, button, img, svg path {
      transition: 0.4s ease;
  }

.position-relative {
  position: relative;
}

.password-input {
  padding-right: 2.5rem; /* Add space for the icon */
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  /* color: #aaa; */
}
