   <div class="container-fluid">

     <div class="row">
       <div class="col-xl-12">
         <div class="card">
           <div class="card-header d-flex justify-content-between align-items-center gap-1">
             <h4 class="card-title flex-grow-1">All Role List</h4>

             <a routerLink="/dashboard/addRole/0" class="btn btn-sm btn-primary">
               Add Role
             </a>

           </div>
           <div>
             <div class="table-responsive">
               <table class="table align-middle mb-0 table-hover table-centered display" *ngIf="renderTable"
                 id="myTable">
                 <thead class="bg-light-subtle">
                   <tr>
                     <th>S.No</th>
                     <th>Role Name</th>
                     <th>Action</th>
                   </tr>
                 </thead>
                 <tbody>

                   <ng-container *ngIf="!TableLoaded; else userList">
                     <tr *ngFor="let skel of skeletonArray">
                       <td colspan="3">
                         <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
                       </td>
                     </tr>
                   </ng-container>

                   <ng-template #userList>
                     <tr *ngFor="let item of roleList; let i = index">
                       <td>{{ i + 1 }}</td>
                       <td>
                         <div class="d-flex align-items-center gap-2">
                           <a class="text-dark fw-medium fs-15">{{ item.name }}</a>
                         </div>
                       </td>

                       <td>
                         <div class="d-flex gap-2">
                           <a href="/dashboard/addRole/{{ item.id }}" class="btn btn-soft-primary btn-sm">
                             <i class="fa-light fa-pen-to-square align-middle fs-18"></i>
                           </a>
                           <a (click)="confirmDelete(item.id.toString(),item.name)" class="btn btn-soft-danger btn-sm">
                             <i class="fa-light fa-trash align-middle fs-18"></i>
                           </a>
                         </div>
                       </td>
                     </tr>
                   </ng-template>

                 </tbody>
               </table>
             </div>
           </div>

         </div>
       </div>

     </div>

   </div>
