 <main>
        <!-- BREADCRUMB SECTION START -->
        <section class="ul-breadcrumb ul-section-spacing">
            <div class="ul-container">
                <div class="ul-breadcrumb-content">
                    <div class="left">
                        <h1 class="ul-breadcrumb-title anim-txt">About Us</h1>
                        <div class="ul-breadcrumb-nav wow animate__fadeInUp">
                            <a href='index.html'>Home</a>
                            <span><i class="fa-solid fa-angles-right"></i></span>
                            <span class="current">About Us</span>
                        </div>
                    </div>

                    <div class="right">
                        <button class="ul-btn-2 p-0 wow animate__fadeInUp">
                            <span class="txt">Scroll Down</span>
                            <i class="fa-light fa-arrow-down"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- vectors -->
            <div class="ul-breadcrumb-vectors">
                <img src="assets/img/breadcrumb-vector-1.svg" alt="vector" class="vector-1 wow animate__fadeInDown">
                <img src="assets/img/breadcrumb-vector-2.svg" alt="vector" class="vector-2 wow animate__fadeInUp">
                <img src="assets/img/breadcrumb-vector-3.svg" alt="vector" class="vector-3 wow animate__fadeInRight">
            </div>
        </section>
        <!-- BREADCRUMB SECTION END -->


        <!-- ABOUT SECTION START -->
        <section class="ul-about ul-section-spacing wow animate__fadeInUp">
            <div class="ul-container">
                <div class="row row-cols-md-2 row-cols-1 align-items-start gy-4 ul-inner-about-row">
                    <div class="col">
                        <div class="ul-about-img">
                            <img src="assets/img/about-img-1.jpg" alt="Image" class="img-1">
                            <img src="assets/img/about-img-2.jpg" alt="Image" class="img-2">
                            <div class="ul-about-stat">
                                <span class="number">45+</span>
                                <span class="txt">Years Experience</span>
                            </div>
                        </div>
                    </div>

                    <!-- txt -->
                    <div class="col">
                        <div class="ul-about-txt">
                            <span class="ul-section-sub-title anim-txt">About us</span>
                            <h2 class="ul-about-title anim-txt">Corporate Social Responsibility</h2>
                            <p class="ul-about-descr wow animate__fadeInUp">Our mission is to redefine the auction experience, offering a seamless and exciting platform that connects bidders with extraordinary opportunities. Whether you're seeking rare collectibles</p>

                            <div class="ul-about-txt-bottom wow animate__fadeInUp">
                                <h3 class="ul-about-txt-bottom-title anim-txt">Online Bidding</h3>
                                <p class="ul-about-txt-bottom-descr">Join our growing community of passionate bidders and sellers who have auctions. Explore, bid, and experience the excitement of winning at Delorin Your next great find awaits!</p>
                                <a class='ul-btn-2' href='about.html'><i class="fa-regular fa-arrow-up-right"></i> About More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ABOUT SECTION END -->


        <!-- STATS SECTION START -->
        <section class="ul-stats bg-ul-off-white ul-section-spacing">
            <div class="ul-container">
                <div class="ul-stats-wrapper">
                    <!-- single stat -->
                    <div class="ul-stat wow animate__fadeInUp">
                        <span class="number anim-txt">25K+</span>
                        <span class="title">Items Auctioned</span>
                    </div>
                    <!-- single stat -->
                    <div class="ul-stat wow animate__fadeInUp">
                        <span class="number anim-txt">7K+</span>
                        <span class="title">Product Our Site</span>
                    </div>
                    <!-- single stat -->
                    <div class="ul-stat wow animate__fadeInUp">
                        <span class="number anim-txt">5K+</span>
                        <span class="title">Auction Experts</span>
                    </div>
                    <!-- single stat -->
                    <div class="ul-stat wow animate__fadeInUp">
                        <span class="number anim-txt">240K</span>
                        <span class="title">In Secure Bids</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- STATS SECTION END -->


        <!-- TEAM SECTION START -->
        <section class="ul-team ul-section-spacing">
            <div class="ul-container">
                <div class="ul-section-heading text-center justify-content-center">
                    <div>
                        <span class="ul-section-sub-title anim-txt">Meet Our Team</span>
                        <h2 class="ul-section-title anim-txt"> Introducing Our Team</h2>
                        <p class="ul-section-descr wow animate__fadeInUp"> If so, could you please provide more details or specify what type of content you're looking for regarding your team?</p>
                    </div>
                </div>


                <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 row-cols-xxs-1">
                    <!-- single member -->
                    <div class="col">
                        <div class="ul-team-member">
                            <div class="ul-team-member-img">
                                <img src="assets/img/team-1.jpg" alt="Image">
                                <div class="ul-team-member-socials">
                                    <div class="ul-team-member-socials-links">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    </div>
                                    <div class="ul-team-member-socials-icon"><i class="fa-regular fa-plus"></i></div>
                                </div>
                            </div>
                            <h3 class="ul-team-member-title anim-txt">John Doe</h3>
                            <p class="ul-team-member-descr anim-txt">CEO & Founder</p>
                        </div>
                    </div>

                    <!-- single member -->
                    <div class="col">
                        <div class="ul-team-member">
                            <div class="ul-team-member-img">
                                <img src="assets/img/team-2.jpg" alt="Image">
                                <div class="ul-team-member-socials">
                                    <div class="ul-team-member-socials-links">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    </div>
                                    <div class="ul-team-member-socials-icon"><i class="fa-regular fa-plus"></i></div>
                                </div>
                            </div>
                            <h3 class="ul-team-member-title anim-txt">Courtney Henry</h3>
                            <p class="ul-team-member-descr anim-txt">VP Of Sucurity</p>
                        </div>
                    </div>

                    <!-- single member -->
                    <div class="col">
                        <div class="ul-team-member">
                            <div class="ul-team-member-img">
                                <img src="assets/img/team-3.jpg" alt="Image">
                                <div class="ul-team-member-socials">
                                    <div class="ul-team-member-socials-links">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    </div>
                                    <div class="ul-team-member-socials-icon"><i class="fa-regular fa-plus"></i></div>
                                </div>
                            </div>
                            <h3 class="ul-team-member-title anim-txt">Dianne Russell</h3>
                            <p class="ul-team-member-descr anim-txt">VP Of Design</p>
                        </div>
                    </div>

                    <!-- single member -->
                    <div class="col">
                        <div class="ul-team-member">
                            <div class="ul-team-member-img">
                                <img src="assets/img/team-4.jpg" alt="Image">
                                <div class="ul-team-member-socials">
                                    <div class="ul-team-member-socials-links">
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    </div>
                                    <div class="ul-team-member-socials-icon"><i class="fa-regular fa-plus"></i></div>
                                </div>
                            </div>
                            <h3 class="ul-team-member-title anim-txt">Brooklyn Simmons</h3>
                            <p class="ul-team-member-descr anim-txt">CEO & Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- TEAM SECTION END -->


        <!-- TESTIMONIAL SECTION START -->
        <section class="ul-testimonial bg-ul-off-white ul-section-spacing">
            <div class="ul-container">
                <!-- heading -->
                <div class="row g-0">
                    <!-- img -->
                    <div class="col-5 d-none d-md-block">
                        <div class="ul-testimonial-img">
                            <img src="assets/img/testimonial-img.jpg" alt="Image" class="wow animate__fadeInUp">
                        </div>
                    </div>

                    <!-- heading content -->
                    <div class="col-md-7">
                        <div class="ul-section-heading wow animate__fadeInUp">
                            <div>
                                <span class="ul-section-sub-title anim-txt">Auction Triumphs</span>
                                <h2 class="ul-section-title anim-txt">Triumphant Bidder Journeys</h2>
                                <p class="ul-section-descr wow animate__fadeInUp">Effortless bids, unbeatable prices. My dream car, a reality. Best online car auction experience ever!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- slider -->
                <div class="row justify-content-end">
                    <!-- reviews -->
                    <div class="col-md-10 wow animate__fadeInUp">
                        <div class="ul-testimonial-slider-wrapper">
                            <div class="swiper ul-testimonial-slider">
                                <div class="swiper-wrapper">
                                    <!-- single slide -->
                                    <div class="swiper-slide">
                                        <div class="ul-testimony">
                                            <div class="top">
                                                <div class="ul-testimony-quotation-icon flex-shrink-0">
                                                    <img src="assets/img/quotation-icon.svg" alt="quotaion-icon">
                                                </div>
                                                <div class="ul-testimony-rating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <p class="ul-testimony-txt">What sets this auction site apart is the diverse selection. Whether you're into car classics, luxury, or everyday cars, you'll find something that suits your taste. A car lover's paradise!</p>
                                            <div class="ul-testimony-reviewer">
                                                <div class="ul-testimony-reviewer-img">
                                                    <img src="assets/img/user-1.jpg" alt="Reviewer Image">
                                                </div>
                                                <div class="ul-testimony-reviewer-txt">
                                                    <h3 class="ul-testimony-reviewer-name">Kathryn Murphy</h3>
                                                    <h4 class="ul-testimony-reviewer-location">China</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single slide -->
                                    <div class="swiper-slide">
                                        <div class="ul-testimony">
                                            <div class="top">
                                                <div class="ul-testimony-quotation-icon flex-shrink-0">
                                                    <img src="assets/img/quotation-icon.svg" alt="quotaion-icon">
                                                </div>
                                                <div class="ul-testimony-rating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <p class="ul-testimony-txt">Impressed with the speed and efficiency of this auction site. From placing a bid to winning the car, the process is quick. A great platform for anyone looking to buy or sell cars!</p>
                                            <div class="ul-testimony-reviewer">
                                                <div class="ul-testimony-reviewer-img">
                                                    <img src="assets/img/user-1.jpg" alt="Reviewer Image">
                                                </div>
                                                <div class="ul-testimony-reviewer-txt">
                                                    <h3 class="ul-testimony-reviewer-name">Kathryn Murphy</h3>
                                                    <h4 class="ul-testimony-reviewer-location">Russia</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single slide -->
                                    <div class="swiper-slide">
                                        <div class="ul-testimony">
                                            <div class="top">
                                                <div class="ul-testimony-quotation-icon flex-shrink-0">
                                                    <img src="assets/img/quotation-icon.svg" alt="quotaion-icon">
                                                </div>
                                                <div class="ul-testimony-rating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <p class="ul-testimony-txt">What sets this auction site apart is the diverse selection. Whether you're into car classics, luxury, or everyday cars, you'll find something that suits your taste. A car lover's paradise!</p>
                                            <div class="ul-testimony-reviewer">
                                                <div class="ul-testimony-reviewer-img">
                                                    <img src="assets/img/user-1.jpg" alt="Reviewer Image">
                                                </div>
                                                <div class="ul-testimony-reviewer-txt">
                                                    <h3 class="ul-testimony-reviewer-name">Kathryn Murphy</h3>
                                                    <h4 class="ul-testimony-reviewer-location">China</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single slide -->
                                    <div class="swiper-slide">
                                        <div class="ul-testimony">
                                            <div class="top">
                                                <div class="ul-testimony-quotation-icon flex-shrink-0">
                                                    <img src="assets/img/quotation-icon.svg" alt="quotaion-icon">
                                                </div>
                                                <div class="ul-testimony-rating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <p class="ul-testimony-txt">Impressed with the speed and efficiency of this auction site. From placing a bid to winning the car, the process is quick. A great platform for anyone looking to buy or sell cars!</p>
                                            <div class="ul-testimony-reviewer">
                                                <div class="ul-testimony-reviewer-img">
                                                    <img src="assets/img/user-1.jpg" alt="Reviewer Image">
                                                </div>
                                                <div class="ul-testimony-reviewer-txt">
                                                    <h3 class="ul-testimony-reviewer-name">Kathryn Murphy</h3>
                                                    <h4 class="ul-testimony-reviewer-location">Russia</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single slide -->
                                    <div class="swiper-slide">
                                        <div class="ul-testimony">
                                            <div class="top">
                                                <div class="ul-testimony-quotation-icon flex-shrink-0">
                                                    <img src="assets/img/quotation-icon.svg" alt="quotaion-icon">
                                                </div>
                                                <div class="ul-testimony-rating">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <p class="ul-testimony-txt">Impressed with the speed and efficiency of this auction site. From placing a bid to winning the car, the process is quick. A great platform for anyone looking to buy or sell cars!</p>
                                            <div class="ul-testimony-reviewer">
                                                <div class="ul-testimony-reviewer-img">
                                                    <img src="assets/img/user-1.jpg" alt="Reviewer Image">
                                                </div>
                                                <div class="ul-testimony-reviewer-txt">
                                                    <h3 class="ul-testimony-reviewer-name">Kathryn Murphy</h3>
                                                    <h4 class="ul-testimony-reviewer-location">Russia</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="ul-slider-pagination ul-testimonial-slider-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
