<main>
  <!-- BREADCRUMB SECTION START -->
  <section class="ul-breadcrumb ul-section-spacing">
    <div class="ul-container">
      <div class="ul-breadcrumb-content">
        <div class="left">
          <h1 class="ul-breadcrumb-title anim-txt">Add Vehicle</h1>
          <div class="ul-breadcrumb-nav wow animate__fadeInUp">
            <a routerLink="/">Home</a>
            <span><i class="fa-solid fa-angles-right"></i></span>
            <span class="current">Add Vehicle</span>
          </div>
        </div>

        <div class="right">
          <button class="ul-btn-2 p-0 wow animate__fadeInUp">
            <span class="txt">Scroll Down</span>
            <i class="fa-light fa-arrow-down"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- vectors -->
    <div class="ul-breadcrumb-vectors">
      <img src="assets/img/breadcrumb-vector-1.svg" alt="vector" class="vector-1 wow animate__fadeInDown">
      <img src="assets/img/breadcrumb-vector-2.svg" alt="vector" class="vector-2 wow animate__fadeInUp">
      <img src="assets/img/breadcrumb-vector-3.svg" alt="vector" class="vector-3 wow animate__fadeInRight">
    </div>
  </section>

  <section class="ul-inner-contact ul-section-spacing mb-5">
    <div class="ul-container">
      <div class="row g-0 d-flex align-items-stretch w-100">

        <div class="col-lg-7 d-flex">
          <img src="assets/img/auth-img.jpg" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;" />
          <!-- <div class="preview-container mt-3">
            <div *ngFor="let file of files; let i = index" class="preview-box">
              <img [src]="file.preview" alt="preview" />
              <button (click)="onRemove(i)">✕</button>
            </div>
          </div> -->

        </div>

        <div class="col-lg-5 d-flex">
          <div class="ul-inner-contact-form-wrapper w-100">
            <form class="ul-contact-form ul-inner-contact-form wow animate__fadeInUp" [class.submitted]="submitted"
              [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="heading">
                <span class="sub-title anim-txt">Add Vehicle</span>
                <span class="title anim-txt">Ready, set, auction!</span>
              </div>

              <div class="form-group">
                <label style="color: black;">Vehicle Images</label>

                <ngx-dropzone (change)="onSelect($event)" #fileInput accept="image/*">
                  <ngx-dropzone-label>Drag & Drop or Click to Upload</ngx-dropzone-label>
                </ngx-dropzone>
                <div class="error-feedback" *ngIf="imageError">
                  At least one image is required.
                </div>
                
                <div class="preview-row mt-3">
                  <div *ngFor="let file of files; let i = index" class="preview-box">
                    <img [src]="file.preview" alt="preview" />
                    <button type="button" (click)="onRemove(i)">✕</button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label style="color: black;">Vehicle Make Model</label>
                <input type="text" formControlName="name" name="name" placeholder="Vechile Make Model">
                <div class="error-feedback"
                  *ngIf="hasDisplayableError('name') && form.controls['name'].hasError('required')">
                  Please enter vehicle title.</div>
              </div>

              <div class="form-group">
                <label style="color: black;">Auction End Date</label>
                <input type="date" name="dateEnd" formControlName="dateEnd" [min]="minDate" placeholder="Date End">
                <div class="error-feedback"
                  *ngIf="hasDisplayableError('dateEnd') && form.controls['dateEnd'].hasError('required')">
                  Please enter Auction End Date.</div>
              </div>

              <div class="form-group">
                <label style="color: black;">Base Price (In USD)</label>
                <input type="number" min="1000" value="1000" name="basePrice" formControlName="basePrice"
                  placeholder="Base Price">
                <div class="error-feedback" *ngIf="hasDisplayableError('basePrice')">
                  <span *ngIf="form.controls['basePrice'].hasError('required')">
                    Please enter base Price.
                  </span>
                  <span *ngIf="form.controls['basePrice'].hasError('min')">
                    Base price must be at least $1000.
                  </span>

                </div>

              </div>


              <div class=" form-group">
                <label style="color: black;">Vehicle Description</label>
                <textarea name="description" formControlName="description" placeholder="Vehicle Description"></textarea>
                <div class="error-feedback"
                  *ngIf="hasDisplayableError('description') && form.controls['description'].hasError('required')">
                  Please enter vehicle description.</div>
              </div>

              <div class="form-group">
                <button type="button" (click)="onSubmit()" class="p-0">
                  <span class="txt justify-content-center">

                    <span *ngIf="!loading">Add</span>
                    <span *ngIf="loading">
                      <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                      Adding...
                    </span>&nbsp;Vehicle
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
