


 <div class="ul-auction">
    <div class="ul-auction-img">
      <img src="assets/img/auction-1.png" alt="image">
    </div>

    <div class="ul-auction-txt">
      <div class="ul-auction-txt-top">
        <h3 class="ul-auction-title"><a [routerLink]="['/auctionDetail', 0]">2028 Kawasaki KVF750</a></h3>
        <div class="ul-auction-metas">
          <span class="ul-auction-meta">
            <span class="meta-key">Listing ID:</span>
            <span class="meta-value">1590443</span>
          </span>
          <span class="ul-auction-meta">
            <span class="meta-key">Item#:</span>
            <span class="meta-value">07661-019</span>
          </span>
        </div>
      </div>

      <div class="ul-auction-txt-bottom">
        <ul class="ul-auction-infos">
          <li class="ul-auction-info">
            <span class="meta-icon"><i class="fa-regular fa-clock"></i></span>
            <span class="meta-key">Closes in:</span>
            <span class="meta-value">07d 11h 28m 59s</span>
          </li>
          <li class="ul-auction-info">
            <span class="meta-icon"><i class="fa-solid fa-arrow-trend-up"></i></span>
            <span class="meta-key">Bids:</span>
            <span class="meta-value">05</span>
          </li>
        </ul>

        <div class="ul-auction-footer">
          <span class="ul-auction-price">$5,760</span>
          <a class='ul-btn ul-btn--2' routerLink="../auctionDetail/0">Place a Bid <i
              class="fa-regular fa-arrow-up-right"></i></a>
        </div>
      </div>
    </div>
  </div>
