<main>
  <!-- BREADCRUMB SECTION START -->
  <section class="ul-breadcrumb ul-section-spacing">
    <div class="ul-container">
      <div class="ul-breadcrumb-content">
        <div class="left">
          <h1 class="ul-breadcrumb-title anim-txt">Auction Vehicles</h1>
          <div class="ul-breadcrumb-nav wow animate__fadeInUp">
            <a routerLink="/">Home</a>
            <span><i class="fa-solid fa-angles-right"></i></span>
            <span class="current">Auction Vehicles</span>
          </div>
        </div>

        <div class="right">
          <button class="ul-btn-2 p-0 wow animate__fadeInUp">
            <span class="txt">Scroll Down</span>
            <i class="fa-light fa-arrow-down"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- vectors -->
    <div class="ul-breadcrumb-vectors">
      <img src="assets/img/breadcrumb-vector-1.svg" alt="vector" class="vector-1 wow animate__fadeInDown">
      <img src="assets/img/breadcrumb-vector-2.svg" alt="vector" class="vector-2 wow animate__fadeInUp">
      <img src="assets/img/breadcrumb-vector-3.svg" alt="vector" class="vector-3 wow animate__fadeInRight">
    </div>
  </section>
  <!-- BREADCRUMB SECTION END -->


  <!-- AUCTIONS SECTION START -->
  <section class="ul-inner-auctions ul-section-spacing tab-group">
    <div class="ul-container">
      <!-- top search, sort, filter bar -->
      <div class="ul-inner-auctions-actions-bar">
        <div class="left">
          <div class="ul-inner-auctions-search">
            <input type="search" [(ngModel)]="searchTerm" name="-search" id="ul-inner-auctions-search" placeholder="Search Auctions">
          </div>
          <p class="ul-inner-auctions-result-count">
           Showing {{ startItem }} - {{ endItem }} of {{ totalItems }} Results
          </p>
        </div>

        <div class="right">
          <div class="ul-inner-auctions-sort">
            <select (change)="onSortChange($event)" name="ul-inner-auctions-sort" id="ul-inner-auctions-sort">
              <option value="" data-placeholder="true">Default sorting</option>
              <option value="2">Newest</option>
              <option value="3">Oldest</option>
              <option value="4">Price: High to Low</option>
              <option value="5">Price: Low to High</option>
            </select>
          </div>



          <div class="ul-inner-auctions-view-mode-tab-navs">
            <button class="active tab-nav" data-tab="grid-view"><i class="fa-regular fa-grid-2"></i></button>
            <button class="tab-nav" data-tab="list-view"><i class="fa-regular fa-list-ul"></i></button>
          </div>
        </div>
      </div>

      <!-- tabs -->
      <div class="tabs-wrapper">
        <!-- tab 01 / grid view -->
        <div class="ul-tab active" id="grid-view">
          <div class="row row-cols-sm-2 row-cols-1 g-4 ul-inner-auctions-2-grid-row">


              <ng-container *ngIf="isLoading; else auctionCard">
<div *ngFor="let skel of skeletonArray">
  <div class="col position-relative">
    <app-grid-skeleton />
  </div>
</div>
              </ng-container>

              <ng-template #auctionCard>
@for(item of displayedList
       | filterAuctionVehicle : searchTerm()
       | sortAuctionVehicle : selectedSortOption; track item.id)
 {
              <div class="col position-relative">
                &nbsp;
                <app-auction-grid-item [item]="item" />
              </div>
              }
              </ng-template>


            <!-- @for(item of convertedList | filterAuctionVehicle : searchTerm(); track item.id ) {
              <div class="col position-relative">
                <app-auction-grid-item [item]="item" />
              </div>
              } -->


          </div>
        </div>

        <!-- tab 02 / list view -->
        <div class="ul-tab" id="list-view">


                        <ng-container *ngIf="isLoading; else auctionCard2">
                          <div *ngFor="let skel of skeletonArray">

                            <app-grid-skeleton />
                          </div>
              </ng-container>

              <ng-template #auctionCard2>
                          @for(item of convertedList | filterAuctionVehicle : searchTerm() | sortAuctionVehicle : selectedSortOption; track item.id) {
            <app-auction-list-item [item]="item" />
            }
              </ng-template>


          <!-- @for(item of convertedList | filterAuctionVehicle : searchTerm(); track item.id) {
            <app-auction-list-item [item]="item" />
            } -->

        </div>
      </div>

      <!-- pagination -->
      <div class="ul-container">
        <!-- <div class="ul-pagination">
          <ul>
            <li><a href="#"><i class="fa-regular fa-angle-left"></i></a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa-regular fa-angle-right"></i></a></li>
          </ul>
        </div> -->
<div class="ul-pagination">
  <ul>

    <li [class.disabled]="currentPage === 1" *ngIf="currentPage !== 1">
      <a
        (click)="currentPage > 1 && goToPage(currentPage - 1)"
        [style.pointer-events]="currentPage === 1 ? 'none' : 'auto'"
        class="text-light"
      >
        <i class="fa-regular fa-angle-left"></i>
      </a>
    </li>

    <!-- Page Numbers -->
    <li *ngFor="let page of [].constructor(totalPages); let i = index">
      <a
        class="text-light"
        [class.active]="i + 1 === currentPage"
        (click)="goToPage(i + 1)"
        >{{ i + 1 }}</a
      >
    </li>

    <li [class.disabled]="currentPage === totalPages" *ngIf="currentPage !== totalPages">
      <a
        (click)="currentPage < totalPages && goToPage(currentPage + 1)"
        [style.pointer-events]="currentPage === totalPages ? 'none' : 'auto'"
        class="text-light"
      >
        <i class="fa-regular fa-angle-right"></i>
      </a>
    </li>
  </ul>
</div>

      </div>
    </div>
  </section>
  <!-- AUCTIONS SECTION END -->
</main>
