    <main>

      <!-- BANNER SECTION START -->
      <section class="ul-banner ul-2-banner">
        <div class="ul-container">
          <div class="row row-cols-md-2 row-cols-1 gy-4 align-items-center">
            <!-- txt -->
            <div class="col">
              <div class="ul-banner-txt">
                <span class="ul-banner-sub-title anim-txt">Next Auction Dynamics</span>
                <h2 class="ul-banner-title anim-txt">Real-Time <span class="colored">Vehicle</span> Auctioning</h2>
                <p class="ul-banner-descr wow animate__slideInUp">Seize instant excitement: Bid, triumph, and swiftly
                  own your dream car through our real-time auction platform.</p>
                <a routerLink="/auction" class="ul-btn wow animate__slideInUp">Start Exploring <i
                    class="fa-regular fa-arrow-up-right"></i></a>
              </div>
            </div>

            <!-- img -->
            <div class="col">
              <div class="ul-2-banner-img wow animate__fadeInUp">
                <div class="ul-banner-img-slider swiper">
                  <div class="swiper-wrapper align-items-end">
                    <div class="swiper-slide"><img src="assets/img/banner-2-img-1.png" alt="banner img"></div>
                    <div class="swiper-slide"><img src="assets/img/banner-img-1.png" alt="banner img"></div>

                    <div class="swiper-slide"><img src="assets/img/banner-2-img-2.png" alt="banner img"></div>
                    <div class="swiper-slide"><img src="assets/img/banner-img-2.png" alt="banner img"></div>

                    <div class="swiper-slide"><img src="assets/img/banner-2-img-3.png" alt="banner img"></div>
                    <div class="swiper-slide"><img src="assets/img/banner-img-3.png" alt="banner img"></div>

                  </div>
                </div>
                <div class="ul-slider-pagination" id="ul-banner-img-slider-pagination"></div>
              </div>
              <div class="ul-banner-img-stat ul-2-banner-img-stat">
                <div class="img"><img src="assets/img/banner-stat-icon.svg" alt="icon"></div>
                <div class="txt">
                  <span class="number">4,25,790+</span>
                  <span class="title">Total Car</span>
                </div>
              </div>
            </div>
          </div>

          <!-- STATS -->
          <div class="ul-2-banner-stats wow animate__fadeInUp">
            <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 row-cols-xxs-1 justify-content-center">
              <!-- single stat -->
              <div class="col">
                <div class="ul-banner-stat ul-2-banner-stat">
                  <div class="ul-banner-stat-icon"><i class="fa-light fa-user-group"></i></div>
                  <div class="ul-banner-stat-txt">
                    <span class="ul-banner-stat-number anim-txt">5,600+</span>
                    <span class="ul-banner-stat-title anim-txt">Happy Customer</span>
                  </div>
                </div>
              </div>

              <!-- single stat -->
              <div class="col">
                <div class="ul-banner-stat ul-2-banner-stat">
                  <div class="ul-banner-stat-icon"><i class="fa-light fa-comment-lines"></i></div>
                  <div class="ul-banner-stat-txt">
                    <span class="ul-banner-stat-number anim-txt">1,3750+</span>
                    <span class="ul-banner-stat-title anim-txt">Good Reviews</span>
                  </div>
                </div>
              </div>

              <!-- single stat -->
              <div class="col">
                <div class="ul-banner-stat ul-2-banner-stat">
                  <div class="ul-banner-stat-icon"><i class="fa-light fa-face-smile-wink"></i></div>
                  <div class="ul-banner-stat-txt">
                    <span class="ul-banner-stat-number anim-txt">4,690+</span>
                    <span class="ul-banner-stat-title anim-txt">Winner Customer</span>
                  </div>
                </div>
              </div>

              <!-- single stat -->
              <div class="col">
                <div class="ul-banner-stat ul-2-banner-stat">
                  <div class="ul-banner-stat-icon"><i class="fa-light fa-messages"></i></div>
                  <div class="ul-banner-stat-txt">
                    <span class="ul-banner-stat-number anim-txt">790+</span>
                    <span class="ul-banner-stat-title anim-txt">New Comments</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- STATS END -->
        </div>

        <!-- vectors -->
        <div class="ul-banner-vectors">
          <img src="assets/img/banner-2-vector-2.svg" alt="vector" class="vector-1">
          <img src="assets/img/banner-2-vector-1.svg" alt="vector" class="vector-2">
          <div class="vector-4"></div>
          <div class="vector-5"></div>
        </div>

        <a href="#second-section" class="ul-banner-scroll-indicator">
          <img src="assets/img/banner-mouse.png" alt="Scroll Indicator">
        </a>
      </section>
      <!-- BANNER SECTION END -->




      <!-- WORK PROCESS SECTION START -->
      <section class="ul-work-process ul-section-spacing overflow-hidden" id="second-section">
        <div class="ul-container">
          <div class="ul-section-heading ul-section-heading--2 wow animate__fadeInUp">
            <div class="left">
              <span class="ul-section-sub-title anim-txt">How It Works</span>
              <h2 class="ul-section-title anim-txt">How Bidding Works</h2>
            </div>

            <div class="right">
              <a class='ul-btn' href='auctions-grid-1.html'>Start Browsing <i
                  class="fa-regular fa-arrow-up-right"></i></a>
              <p class="ul-section-heading-descr">Simply place your bids online and bid for top used Car at Surplex.</p>
            </div>
          </div>

          <div
            class="row ul-bs-row row-cols-md-3 row-cols-2 row-cols-xxs-1 ul-work-process-row justify-content-center wow animate__fadeInUp">
            <!-- single process -->
            <div class="col">
              <div class="ul-work-process-single ul-work-process-single--first">
                <div class="ul-work-process-single-top">
                  <span class="ul-work-process-single-sub-title">step_<span class="colored">01</span></span>
                  <img src="assets/img/hiw-1.svg" alt="icon" class="ul-work-process-single-icon">
                  <div class="ul-work-process-single-index">1.</div>
                  <span class="indicators">
                    <span class="indicator-1"></span>
                    <span class="indicator-2"></span>
                    <span class="indicator-3"></span>
                    <span class="indicator-4"></span>
                    <span class="indicator-5"></span>
                  </span>
                </div>

                <div class="ul-work-process-single-txt">
                  <h3 class="ul-work-process-single-title anim-txt">Find the right item</h3>
                  <p class="ul-work-process-single-descr wow animate__fadeIn">Browse or use our search agent: Surplex
                    has numerous used Car on offer</p>
                </div>
              </div>
            </div>

            <!-- single process -->
            <div class="col">
              <div class="ul-work-process-single">
                <div class="ul-work-process-single-top">
                  <span class="ul-work-process-single-sub-title">step_<span class="colored">02</span></span>
                  <img src="assets/img/hiw-2.svg" alt="Image" class="ul-work-process-single-icon">
                  <div class="ul-work-process-single-index">2.</div>
                  <span class="indicators">
                    <span class="indicator-1"></span>
                    <span class="indicator-2"></span>
                    <span class="indicator-3"></span>
                    <span class="indicator-4"></span>
                    <span class="indicator-5"></span>
                  </span>
                </div>

                <div class="ul-work-process-single-txt">
                  <h3 class="ul-work-process-single-title anim-txt">Place a bid</h3>
                  <p class="ul-work-process-single-descr wow animate__fadeIn">Place a direct bid or use our bidding
                    agent to achieve the best price for an item.</p>
                </div>
              </div>
            </div>

            <!-- single process -->
            <div class="col">
              <div class="ul-work-process-single">
                <div class="ul-work-process-single-top">
                  <span class="ul-work-process-single-sub-title">step_<span class="colored">03</span></span>
                  <img src="assets/img/hiw-3.svg" alt="Image" class="ul-work-process-single-icon">
                  <div class="ul-work-process-single-index">3.</div>
                  <span class="indicators">
                    <span class="indicator-1"></span>
                    <span class="indicator-2"></span>
                    <span class="indicator-3"></span>
                    <span class="indicator-4"></span>
                    <span class="indicator-5"></span>
                  </span>
                </div>

                <div class="ul-work-process-single-txt">
                  <h3 class="ul-work-process-single-title anim-txt">Pay & receive your item</h3>
                  <p class="ul-work-process-single-descr wow animate__fadeIn">Winners receive invoices, pick payment
                    options, and coordinate pickup with our service.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- WORK PROCESS SECTION END -->


      <!-- AUCTIONS SECTION START -->
      <section class="ul-auctions ul-section-spacing">
        <div class="ul-container">
          <div class="ul-section-heading ul-section-heading--2 wow animate__fadeInUp">
            <div class="left">
              <span class="ul-section-sub-title anim-txt">Top-Tier Auction Lots</span>
              <h2 class="ul-section-title anim-txt">Top lots of the Auction</h2>
            </div>

            <div class="right">
              <a class='ul-btn' routerLink="/auction">Start Browsing <i class="fa-regular fa-arrow-up-right"></i></a>
              <p class="ul-section-heading-descr">Explore the pinnacle of our auction with the finest lots. From rare
                treasures to exquisite finds, discover the auction's crowning achievements.</p>
            </div>
          </div>

          <!-- Auctions -->
          <div class="swiper ul-auctions-swiper wow animate__fadeInUp">
            <div class="swiper-wrapper">
              <ng-container *ngIf="isLoading; else auctionCard2">
                <app-grid-skeleton />
              </ng-container>

              <ng-template #auctionCard2>
                @for(item of convertedList; track item.id) {
                  <div class="swiper-slide">
                    <app-auction-grid-item [item]="item" />
                  </div>
                  }
              </ng-template>

            </div>
            <div class="ul-auctions-swiper-bottom">
              <!-- swiper navigation -->
              <div class="ul-auction-swiper-nav ul-slider-nav">
                <div class="prev"><i class="fa-solid fa-angle-left"></i></div>
                <div class="next"><i class="fa-solid fa-angle-right"></i></div>
              </div>

              <!-- swiper pagination -->
              <div class="ul-auctions-swiper-pagination"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- AUCTIONS SECTION END -->


      <!-- ACTIVE AUCTION SECTION START -->
      <section class="ul-active-auctions ul-section-spacing">
        <div class="ul-container">
          <div class="ul-section-heading text-center justify-content-center">
            <div>
              <span class="ul-section-sub-title anim-txt">Auction's Finest Lots</span>
              <h2 class="ul-section-title anim-txt">Active auction items</h2>
              <p class="ul-section-descr wow animate__fadeInUp">Feel free to join and participate in the excitement at
                our upcoming auctions.</p>
            </div>
          </div>

          <!-- tabs wrapper -->
          <div class="ul-active-auctions-tabs tab-group">
            <div class="position-relative wow animate__fadeInUp">
              <div class="ul-active-auctions-tab-navs swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <button class="tab-nav active" data-tab="auction-tab-1">
                      <img src="assets/img/tab-nav-1.svg" alt="icon" class="icon">
                      <span class="name">Lamborghini</span>
                    </button>
                  </div>

                  <div class="swiper-slide">
                    <button class="tab-nav" data-tab="auction-tab-2">
                      <img src="assets/img/tab-nav-2.svg" alt="icon" class="icon">
                      <span class="name">Hyundai</span>
                    </button>
                  </div>

                  <div class="swiper-slide">
                    <button class="tab-nav" data-tab="auction-tab-3">
                      <img src="assets/img/tab-nav-3.svg" alt="icon" class="icon">
                      <span class="name">Mahindra</span>
                    </button>
                  </div>

                  <div class="swiper-slide">
                    <button class="tab-nav" data-tab="auction-tab-4">
                      <img src="assets/img/tab-nav-4.svg" alt="icon" class="icon">
                      <span class="name">BMW</span>
                    </button>
                  </div>

                  <div class="swiper-slide">
                    <button class="tab-nav" data-tab="auction-tab-5">
                      <img src="assets/img/tab-nav-1.svg" alt="icon" class="icon">
                      <span class="name">Lamborghini</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="ul-active-auctions-tab-navs-arrows">
                <button class="prev"><i class="fa-regular fa-angle-left"></i></button>
                <button class="next"><i class="fa-regular fa-angle-right"></i></button>
              </div>
            </div>

            <!-- tabs -->
            <div class="all-tabs wow animate__fadeInUp">
              <!-- tab 1 -->
              <div class="ul-tab active" id="auction-tab-1">
                <!-- single auction item -->
                <ng-container *ngIf="isLoading; else auctionCard">
                  <app-list-skeleton />
                </ng-container>

                <ng-template #auctionCard>
                  @for(item of convertedList; track item.id) {
                    <div class="swiper-slide">
                      <app-auction-list-item [item]="item" />
                    </div>
                    }
                </ng-template>
                <!-- @for(item of convertedList; track item.id) {
                  <div class="swiper-slide">
                    <app-auction-list-item [item]="item" />
                  </div>
                  } -->

              </div>

              <!-- tab 2 -->
              <div class="ul-tab" id="auction-tab-2">

                <ng-container *ngIf="isLoading; else auctionCard">
                  <app-list-skeleton />
                </ng-container>

                <ng-template #auctionCard>
                  @for(item of convertedList; track item.id) {
                    <div class="swiper-slide">
                      <app-auction-list-item [item]="item" />
                    </div>
                    }
                </ng-template>

              </div>

              <!-- tab 3 -->
              <div class="ul-tab" id="auction-tab-3">
                <ng-container *ngIf="isLoading; else auctionCard">
                  <app-list-skeleton />
                </ng-container>

                <ng-template #auctionCard>
                  @for(item of convertedList; track item.id) {
                    <div class="swiper-slide">
                      <app-auction-list-item [item]="item" />
                    </div>
                    }
                </ng-template>
              </div>

              <!-- tab 4 -->
              <div class="ul-tab" id="auction-tab-4">
                <ng-container *ngIf="isLoading; else auctionCard">
                  <app-list-skeleton />
                </ng-container>

                <ng-template #auctionCard>
                  @for(item of convertedList; track item.id) {
                    <div class="swiper-slide">
                      <app-auction-list-item [item]="item" />
                    </div>
                    }
                </ng-template>
              </div>

              <!-- tab 5 -->
              <div class="ul-tab" id="auction-tab-5">
                <ng-container *ngIf="isLoading; else auctionCard">
                  <app-list-skeleton />
                </ng-container>

                <ng-template #auctionCard>
                  @for(item of convertedList; track item.id) {
                    <div class="swiper-slide">
                      <app-auction-list-item [item]="item" />
                    </div>
                    }
                </ng-template>
              </div>
            </div>
          </div>

          <div class="text-center wow animate__fadeInUp"><a routerLink="/auction" class="ul-btn">Explore All Auction
              <i class="fa-regular fa-arrow-up-right"></i></a></div>
        </div>
      </section>
      <!-- ACTIVE AUCTION SECTION END -->


      <!-- CONTACT SECTION START -->
      <section class="ul-contact ul-section-spacing">
        <div class="ul-container">
          <!-- heading -->
          <div class="ul-section-heading">
            <span class="ul-section-sub-title anim-txt">Drive Your Bid</span>
          </div>


          <div class="row gy-4">
            <div class="col-md-5">
              <div class="ul-contact-infos">

                <div class="ul-contact-info-circle wow animate__fadeInUp">
                  <div class="circle-1 text-dark">Call <i class="fa-regular fa-phone-volume text-dark-emphasis"></i>
                  </div>
                  <div class="circle-2"><a href="tel:+92-333-2245310" class="ul-contact-info-link ">+92-333-2245310</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-7">
              <div class="ul-contact-form-wrapper">
                <div>
                  <h2 class="ul-section-title anim-txt">Start Winning on Nilamex Your Car Auction Hub!</h2>
                  <p class="ul-section-descr wow animate__fadeInUp">Rev up your car-buying experience with Nialamex the
                    ultimate destination for exclusive auctions and unbeatable deals on wheels!</p>

                  <form action="#" class="ul-contact-form wow animate__fadeInUp">
                    <div class="row g-lg-4 g-3">
                      <div class="col-xl-8 col-7 col-xxs-12">
                        <div class="form-group">
                          <input type="text" name="name" id="ul-contact-name" placeholder="Name">
                        </div>
                      </div>

                      <div class="col-xl-4 col-5 col-xxs-12">
                        <div class="form-group">
                          <input type="tel" name="phone" id="ul-contact-phone" placeholder="Phone">
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <input type="email" name="email" id="ul-contact-email" placeholder="Email">
                        </div>
                      </div>

                      <div class="col-xl-8 col-7 col-xxs-12">
                        <div class="form-group">
                          <textarea name="message" id="ul-contact-message" placeholder="Write Message"></textarea>
                        </div>
                      </div>

                      <div class="col-xl-4 col-5 col-xxs-12">
                        <div class="form-group">
                          <button type="submit" class="p-0"><span class="txt">Send Message</span><i
                              class="fa-regular fa-paper-plane"></i></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <img src="assets/img/contact-vector-1.svg" alt="vector" class="ul-contact-vector">
      </section>
      <!-- CONTACT SECTION END -->



      <!-- PARTNERS SECTION START -->
      <div class="ul-container ul-section-spacing">
        <div class="ul-partners">
          <!-- heading -->
          <div class="ul-section-heading text-center justify-content-center">
            <div>
              <span class="ul-section-sub-title anim-txt">Your Partner in Success.</span>
              <h2 class="ul-section-title anim-txt">Trusted By 750+ Businesses.</h2>
            </div>
          </div>

          <div class="ul-partners-slider-wrapper">
            <div class="ul-partners-slider swiper animate__fadeInUp wow">
              <div class="swiper-wrapper align-items-center">
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-1.png" alt="partner logo"></div>
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-2.png" alt="partner logo"></div>
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-3.png" alt="partner logo"></div>
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-4.png" alt="partner logo"></div>
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-5.png" alt="partner logo"></div>
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-6.png" alt="partner logo"></div>
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-7.png" alt="partner logo"></div>
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-8.png" alt="partner logo"></div>
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-9.png" alt="partner logo"></div>
                <!-- single partner -->
                <div class="swiper-slide"><img src="assets/img/partner-4.png" alt="partner logo"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PARTNERS SECTION END -->
    </main>
