<main>
  <!-- BREADCRUMB SECTION START -->
  <section class="ul-breadcrumb ul-section-spacing">
    <div class="ul-container">
      <div class="ul-breadcrumb-content">
        <div class="left">
          <h1 class="ul-breadcrumb-title anim-txt">Auction Details</h1>
          <div class="ul-breadcrumb-nav wow animate__fadeInUp">
            <a routerLink="/">Home</a>
            <span><i class="fa-solid fa-angles-right"></i></span>
            <span class="current">Auction Details</span>
          </div>
        </div>

        <div class="right">
          <button class="ul-btn-2 p-0 wow animate__fadeInUp">
            <span class="txt">Scroll Down</span>
            <i class="fa-light fa-arrow-down"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- vectors -->
    <div class="ul-breadcrumb-vectors">
      <img src="assets/img/breadcrumb-vector-1.svg" alt="vector" class="vector-1 wow animate__fadeInDown">
      <img src="assets/img/breadcrumb-vector-2.svg" alt="vector" class="vector-2 wow animate__fadeInUp">
      <img src="assets/img/breadcrumb-vector-3.svg" alt="vector" class="vector-3 wow animate__fadeInRight">
    </div>
  </section>
  <!-- BREADCRUMB SECTION END -->


  <!-- AUCTION DETAILS SECTION START -->
  <section class="ul-auction-details ul-section-spacing">
    <div class="ul-container">
      <div class="ul-auction-details-top">
        <div class="row row-cols-lg-2 row-cols-1 g-4">
          <!-- img slider -->
          <div class="col">
            <div class="ul-auction-details-imgs">
              <div class="ul-auction-details-img-slider swiper">
                <div class="swiper-wrapper" *ngIf="AuctionDetail?.images && AuctionDetail?.images?.length">
                  <!-- single img -->
                  <div class="swiper-slide" *ngFor="let img of AuctionDetail?.images">
                    <div class="ul-auction-details-img">
                      <img [src]="imageBaseUrl + img" alt="Item Image"></div>
                  </div>

                </div>
              </div>

              <!-- thumb slider -->
              <div class="ul-auction-details-thumb-slider swiper">
                <div class="swiper-wrapper">
                  <!-- single thumb -->
                  <!-- <div class="swiper-slide" *ngIf="AuctionDetail?.images && AuctionDetail?.images?.length">
                    <div class="ul-auction-details-thumb">
                      <img src="{{ imageBaseUrl }}{{ AuctionDetail?.images }}" alt="Item Image">
                    </div>
                </div> -->

                  <div class="swiper-slide" *ngFor="let img of AuctionDetail?.images">
                    <div class="ul-auction-details-thumb">
                      <img [src]="imageBaseUrl + img" alt="Item Image" />
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>

          <!-- txt -->
          <div class="col">
            <div class="ul-auction-details-top-txt">
              <div class="ul-auction-details-countdown-wrapper ul-active-auction">
                <div class="ul-active-auction-countdown-area">
                  <h4 class="ul-active-auction-countdown-title">This Auction Ends in:
                    {{ AuctionDetail?.dateEnd | date: 'medium' }}</h4>
                  <div class="ul-countdown">
                    <div class="ul-countdown-item">
                      <span class="number days">{{ countdown.days }}</span>
                      <span class="label">Days</span>
                    </div>
                    <div class="ul-countdown-item">
                      <span class="number hours">{{ countdown.hours }}</span>
                      <span class="label">Hours</span>
                    </div>
                    <div class="ul-countdown-item">
                      <span class="number minutes">{{ countdown.minutes }}</span>
                      <span class="label">Minutes</span>
                    </div>
                    <div class="ul-countdown-item">
                      <span class="number seconds">{{ countdown.seconds }}</span>
                      <span class="label">Seconds</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="ul-auction-details-top-txt-middle">
                <h2 class="ul-auction-details-title">{{ AuctionDetail?.name }}</h2>
                <div class="ul-auction">
                  <div class="ul-auction-metas">
                    <span class="ul-auction-meta">
                      <span class="meta-key">Listing ID:</span>
                      <span class="meta-value">{{ AuctionDetail?.itemId }}</span>
                    </span>
                    <span class="ul-auction-meta">
                      <span class="meta-key">Item#:</span>
                      <span class="meta-value">{{ AuctionDetail?.item }}</span>
                    </span>
                  </div>
                </div>
                <p class="ul-auction-details-top-descr">{{ AuctionDetail?.description }}</p>
                <div class="ul-auction-footer">
                  <div class="ul-auction-details-current-bid">
                    <span class="title">Current Bid:</span>
                    <span class="ul-auction-price">{{ AuctionDetail?.currencySymbol }}
                      {{ AuctionDetail?.basePrice ? AuctionDetail!.basePrice + 25 :25 | number: '1.0-0' }}</span>
                  </div>
                  <a class='add-to-wishlist' routerLink="/"><i class="fa-solid fa-star"></i> Add To
                    Wishlist</a>
                </div>
              </div>

              <div class="ul-auction-details-top-txt-bottom">
                <div class="ul-auction-details-bid-wrapper">
                  <span class="ul-auction-details-bid-title">Bids Amount</span>
                  <form action="#" class="ul-auction-details-bid-form">
                    <input type="number"
                      min="{{ AuctionDetail?.basePrice ? AuctionDetail!.basePrice + 25 :25 | number: '1.0-0' }}"
                      name="bid-amount" id="bid-amount"
                      value="{{ AuctionDetail?.basePrice ? AuctionDetail!.basePrice + 25 :25 | number: '1.0-0' }}"
                      placeholder="00.00">
                    <button *ngIf="isAuctionActive" type="submit">Place a Bid</button>
                  </form>
                </div>
                <p class="ul-auction-details-top-category"><span class="title">Category:</span> Car, Motorcycle</p>
                <div class="ul-auction-details-share">
                  <span class="ul-auction-details-share-title">Share to: </span>
                  <div class="share-options">
                    <button (click)="shareTo('facebook')">
                      <i class="fa-brands fa-facebook-f"></i>
                    </button>
                    <button (click)="shareTo('twitter')">
                      <i class="fa-brands fa-twitter"></i> <!-- or fa-twitter if you're not using FontAwesome 6 -->
                    </button>
                    <button (click)="shareTo('whatsapp')">
                      <i class="fa-brands fa-whatsapp"></i>
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ul-auction-details-bottom tab-group">
        <div class="ul-auction-details-tab-navs">
          <button class="tab-nav active" data-tab="description">Description</button>
          <button class="tab-nav" data-tab="auction-history">Auction History</button>
          <button class="tab-nav" data-tab="more-uctions">More Auctions</button>
        </div>

        <div class="ul-auction-details-tabs-wrapper">
          <!-- tab 01 / description -->
          <div class="ul-tab active" id="description">
            <p class="ul-auction-details-tab-descr">{{ AuctionDetail?.description }}</p>
          </div>

          <!-- tab 02 / auction history -->
          <div class="ul-tab" id="auction-history">
            <div class="ul-auction-details-history-table-wrapper">
              <table class="ul-auction-details-history-table">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Unit Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="user-info"><img src="" alt="User"><span>John
                        Carter</span></td>
                    <td>December 12, 2023 8:48 pm</td>
                    <td>$89.00</td>
                  </tr>
                  <tr>
                    <td class="user-info"><img src="" alt="User"><span>Emily
                        Stone</span></td>
                    <td>November 25, 2023 3:22 pm</td>
                    <td>$42.50</td>
                  </tr>
                  <tr>
                    <td class="user-info"><img src="" alt="User"><span>Daniel
                        Ray</span></td>
                    <td>October 4, 2023 10:15 am</td>
                    <td>$123.99</td>
                  </tr>
                  <tr>
                    <td class="user-info"><img src="" alt="User"><span>Sophia
                        King</span></td>
                    <td>September 13, 2023 6:05 pm</td>
                    <td>$77.00</td>
                  </tr>
                  <tr>
                    <td class="user-info"><img src="" alt="User"><span>Michael
                        Scott</span></td>
                    <td>August 2, 2023 9:30 am</td>
                    <td>$65.45</td>
                  </tr>
                  <tr>
                    <td class="user-info"><img src="" alt="User"><span>Olivia
                        Hall</span></td>
                    <td>July 19, 2023 2:12 pm</td>
                    <td>$98.20</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>


          <!-- tab 04 / more -->
          <div class="ul-tab" id="more-uctions">
            <div class="row row-cols-sm-2 row-cols-1 g-4 ul-inner-auctions-2-grid-row">

              @for(item of convertedList; track item.id) {
                <div class="col position-relative">
                  &nbsp;
                  <app-auction-grid-item [item]="item" />
                </div>
                }



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
