<main>
        <!-- BREADCRUMB SECTION START -->
        <section class="ul-breadcrumb ul-section-spacing">
            <div class="ul-container">
                <div class="ul-breadcrumb-content">
                    <div class="left">
                        <h1 class="ul-breadcrumb-title anim-txt">Contact</h1>
                        <div class="ul-breadcrumb-nav wow animate__fadeInUp">
                            <a href='index.html'>Home</a>
                            <span><i class="fa-solid fa-angles-right"></i></span>
                            <span class="current">Contact</span>
                        </div>
                    </div>

                    <div class="right">
                        <button class="ul-btn-2 p-0 wow animate__fadeInUp">
                            <span class="txt">Scroll Down</span>
                            <i class="fa-light fa-arrow-down"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- vectors -->
            <div class="ul-breadcrumb-vectors">
                <img src="assets/img/breadcrumb-vector-1.svg" alt="vector" class="vector-1 wow animate__fadeInDown">
                <img src="assets/img/breadcrumb-vector-2.svg" alt="vector" class="vector-2 wow animate__fadeInUp">
                <img src="assets/img/breadcrumb-vector-3.svg" alt="vector" class="vector-3 wow animate__fadeInRight">
            </div>
        </section>
        <!-- BREADCRUMB SECTION END -->


        <!-- CONTACT SECTION START -->
        <section class="ul-inner-contact ul-section-spacing">
            <div class="ul-container" >
                <div class="ul-inner-contact-infos ul-section-spacing pt-0">
                    <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 justify-content-center g-4">
                        <!-- single info -->
                        <div class="col">
                            <div class="ul-inner-contact-info">
                                <div class="ul-inner-contact-info-icon"><i class="fa-thin fa-location-dot"></i></div>
                                <span class="ul-inner-contact-info-title">ADDRESS LINK</span>
                                <p class="ul-inner-contact-info-descr">Malir Halt, <br> Karachi 74210</p>
                            </div>
                        </div>
                        <!-- single info -->
                        <div class="col">
                            <div class="ul-inner-contact-info">
                                <div class="ul-inner-contact-info-icon"><i class="fa-thin fa-phone-volume"></i></div>
                                <span class="ul-inner-contact-info-title">PHONE NUMBER</span>
                                <p class="ul-inner-contact-info-descr"><a href="tel:(92)333-2245310">(92) 333-2245310</a></p>
                            </div>
                        </div>
                        <!-- single info -->
                        <div class="col">
                            <div class="ul-inner-contact-info">
                                <div class="ul-inner-contact-info-icon"><i class="fa-thin fa-envelope"></i></div>
                                <span class="ul-inner-contact-info-title">MAIL ADDRESS</span>
                                <p class="ul-inner-contact-info-descr"><a href="mailto:farhanatif9990@gmail.com">farhanatif9990&#64;gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <img src="assets/img/inner-contact-img.jpg" alt="Image"> -->
                <!-- contact form -->
      <div class="row g-0 align-items-stretch h-auto">
        <div class="col-lg-7 d-flex">
          <img src="assets/img/auth-img.jpg" class="img-fluid w-100 object-cover" style="flex: 1;" alt="Image">
        </div>

        <div class="col-lg-5 d-flex">
          <div class="ul-inner-contact-form-wrapper w-100">
                            <form action="#" class="ul-contact-form ul-inner-contact-form wow animate__fadeInUp">
                                <div class="heading">
                                    <span class="sub-title anim-txt">Contact Us</span>
                                    <span class="title anim-txt">Get In Touch</span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="name" id="ul-contact-name" placeholder="Name">
                                </div>

                                <div class="form-group">
                                    <input type="tel" name="phone" id="ul-contact-phone" placeholder="Phone">
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" id="ul-contact-email" placeholder="Email">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="address" id="ul-contact-address" placeholder="Address">
                                </div>

                                <div class="form-group">
                                    <textarea name="message" id="ul-contact-message" placeholder="Write Message"></textarea>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="p-0"><span class="txt justify-content-center">Send Message</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- map -->
        <iframe class="ul-inner-contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7728986.027893011!2d91.37882843968096!3d18.934980934187653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x305652a7714e2907%3A0xba7b0ee41c622b11!2sMyanmar%20(Burma)!5e0!3m2!1sen!2sbd!4v1748278805704!5m2!1sen!2sbd" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!-- CONTACT SECTION END -->
    </main>
