<main>
        <!-- BREADCRUMB SECTION START -->
        <section class="ul-breadcrumb ul-section-spacing">
            <div class="ul-container">
                <div class="ul-breadcrumb-content">
                    <div class="left">
                        <h1 class="ul-breadcrumb-title anim-txt">FAQ</h1>
                        <div class="ul-breadcrumb-nav wow animate__fadeInUp">
                            <a href='index.html'>Home</a>
                            <span><i class="fa-solid fa-angles-right"></i></span>
                            <span class="current">FAQ</span>
                        </div>
                    </div>

                    <div class="right">
                        <button class="ul-btn-2 p-0 wow animate__fadeInUp">
                            <span class="txt">Scroll Down</span>
                            <i class="fa-light fa-arrow-down"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- vectors -->
            <div class="ul-breadcrumb-vectors">
                <img src="assets/img/breadcrumb-vector-1.svg" alt="vector" class="vector-1 wow animate__fadeInDown">
                <img src="assets/img/breadcrumb-vector-2.svg" alt="vector" class="vector-2 wow animate__fadeInUp">
                <img src="assets/img/breadcrumb-vector-3.svg" alt="vector" class="vector-3 wow animate__fadeInRight">
            </div>
        </section>
        <!-- BREADCRUMB SECTION END -->

        <!-- FAQ SECTION START -->
        <section class="ul-faq ul-section-spacing">
            <div class="ul-container">
                <!-- faq wrapper -->
                <div class="row g-4 tab-group">
                    <!-- tab navs -->
                    <div class="col-lg-4">
                        <div class="ul-faq-tab-navs wow animate__fadeInUp">
                            <button data-tab="faq-tab-1" class="tab-nav active">For Companies <i class="fa-solid fa-angle-right"></i></button>
                            <button data-tab="faq-tab-2" class="tab-nav">Auction Purchasing <i class="fa-solid fa-angle-right"></i></button>
                            <button data-tab="faq-tab-3" class="tab-nav">Draw & Winners <i class="fa-solid fa-angle-right"></i></button>
                            <button data-tab="faq-tab-4" class="tab-nav">Technical Support <i class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>

                    <!-- tab content -->
                    <div class="col-lg-8">
                        <div class="ul-faq-tab-content wow animate__fadeInUp">
                            <!-- tab 1 -->
                            <div id="faq-tab-1" class="ul-tab ul-faq-tab active">
                                <div class="ul-accordion ul-faq-accordion">
                                    <div class="ul-single-accordion-item open">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">Is there a minimum age requirement to participate?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">How do I participate in the car auctions?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What types of cars are available for bidding?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What happens if I win an auction?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What payment methods are accepted?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- tab 2 -->
                            <div id="faq-tab-2" class="ul-tab ul-faq-tab">
                                <div class="ul-accordion ul-faq-accordion">
                                    <div class="ul-single-accordion-item open">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What payment methods are accepted?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">How do I participate in the car auctions?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What types of cars are available for bidding?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What happens if I win an auction?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">Is there a minimum age requirement to participate?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- tab 3 -->
                            <div id="faq-tab-3" class="ul-tab ul-faq-tab">
                                <div class="ul-accordion ul-faq-accordion">
                                    <div class="ul-single-accordion-item open">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">How do I participate in the car auctions?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What types of cars are available for bidding?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What happens if I win an auction?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What payment methods are accepted?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">Is there a minimum age requirement to participate?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- tab 4 -->
                            <div id="faq-tab-4" class="ul-tab ul-faq-tab">
                                <div class="ul-accordion ul-faq-accordion">
                                    <div class="ul-single-accordion-item open">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What happens if I win an auction?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">How do I participate in the car auctions?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What types of cars are available for bidding?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">What payment methods are accepted?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>

                                    <div class="ul-single-accordion-item">
                                        <div class="ul-single-accordion-item__header">
                                            <div class="left">
                                                <h3 class="ul-single-accordion-item__title">Is there a minimum age requirement to participate?</h3>
                                            </div>
                                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                                        </div>

                                        <div class="ul-single-accordion-item__body">
                                            <p>Aonsectetur adipiscing elit Aenean scelerisque augue vitae consequat Juisque eget congue velit in cursus leo sodales the turpis euismod quis sapien euismod quis sapien the. E-learning is suitable for students, professionals, and anyone interested.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ SECTION END -->
    </main>
